$mediumGray: #555;
$lightGray: #efefef;
$blue: #3498db;

#view {
  line-height: 150%;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.4em;
  }
  h1 { font-size: 1.825em; }
  h2 { font-size: 1.525em; padding-bottom: 0.2em; &:not(:first-child) {margin-top: 2em;} }
  h3 { font-size: 1.25em; }
  h4 { font-size: 1em; }

  p {
    margin-bottom: 1em;
  }
  ul {
    list-style-type: disc;
    li {
      margin-left: 2em;
    }
  }
  .badges {
    margin-bottom: 2rem;
    
    a {
      box-shadow: none;
    }
  }

  strong {
    font-weight: bold;
    margin-bottom: 1em;
  }

  code {
    background-color: $lightGray;
    padding: 0.1em 0.5em;
    border-radius: 0.2em;
    font-family: monospace
  }
  pre {
    background-color: $lightGray;
    padding: 1em; 
    border-radius: 0.2em;
    margin-bottom: 1.5em;
    display: block;    
  }
}

footer {
  opacity: 0.8;
  color: $mediumGray;
  border-top: 3px solid $lightGray;
  padding: 1em 0;
  line-height: 150%;
  margin-top: 6em; 
  font-size: 0.8em;
  text-align: left
}

.container {
  margin-top: 2rem;
}